body {
  font-family: 'Microsoft YaHei UI Light';
}
body{
  height: 100%;
}
#app {
  height: 100%;
}
.message-text {
  margin: 20px 0 0;
  text-indent: 30px;
}
.blog-nav {
  ul {
    padding: 0;
    line-height: 50px;
    li {
      display: inline-block;
      margin: 0 20px;
      list-style: none;
      a{
        color: #333;
        cursor: pointer;
        &:hover {
          color: #999;
          text-decoration: none;
        }
      }
    }
  }
}
.blog-list-box {
  width: 800px;
  margin: 0 auto;
  padding: 0 0 50px;
  border-bottom: solid 1px #f0f0f0;
  h3, p {
    text-align: center;
  }
  .bolg-list-text, a {
    text-align: left;
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }
}
.blog-detail-box {
  .blog-list-box {
    border-bottom: solid 0px #fff;
  }
}

.blog-login-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  background: #262626;
  .blog-login-box {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f4f4f4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
  }
  form {
    padding: 50px 0 0;
  }
}

//common
$color-333: #333;
.blog-a-color {
  color: $color-333;
}
.blog-container {
  padding-top: 50px;
}
